.app {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
h1 {
  margin-top: 100px;
}
.content{
  text-align: center;
}
.search{
  display: flex;
  justify-content: center;
}
.searchInputs {
  margin-top: 100px;
  display: flex;
}

.search input {
  background-color: white;
  border: 0;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 20px;
  padding: 15px;
  height: 30px;
  width: 400px;
  text-align: center;
}

.searchButton {
  margin-left: 30px;
  color: white;
  background-color: black;
  width: 100px;
  border: 0ch;
}
.itemCards {
  margin-top: 50px;
  width: 440px;
  height: 200px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  margin-left: 310px;
  
}




  